<div class="flex h-full">
  <app-toolbar></app-toolbar>
  <app-navigation-rail></app-navigation-rail>
  <main class="flex flex-grow py-12 px-6 pt-20">
    <router-outlet></router-outlet>
  </main>
  <div
    [@listAnimation]="(alerts | async).length"
    class="alert-container absolute bottom-0 left-0 flex flex-col"
  >
    <!-- <app-alert
      *ngFor="let alert of (alerts | async).alerts"
      (close)="onClose(alert)"
      [message]="alert.message"
      class="mt-2"
    ></app-alert> -->
    <app-alert
      *ngFor="let alert of alerts | async"
      (close)="onClose(alert)"
      [message]="alert.message"
      class="mt-2"
    ></app-alert>
  </div>
</div>
