<div
  *ngIf="currentWeather.main"
  class="card flex flex-col text-white bg-background-dark text-center"
>
  <div class="p-4 flex-grow">
    <span class="block text-center heading">
      {{ currentWeather.name }}
    </span>
    <div class="my-20">icon here</div>
  </div>
  <div class="flex flex-col bg-background-light text-center py-4">
    <span class="text-2xl font-bold">
      {{ currentWeather.main.temp | number: '1.0-0' }} °C
    </span>
    <span>Wind: {{ currentWeather.wind.speed }} KM/h</span>
  </div>
</div>
