<div class="card flex flex-col bg-background-light text-white p-4">
  <div>
    <span class="heading block">Twitter feed</span>
    <span class="block text-sm mb-6">
      Streaming from 0 accounts. <a class="underline" href="#">edit</a>
    </span>
    <button
      (click)="onClick()"
      mat-button
      mat-stroked-button
      class="block mt-6"
    >
      Log in with Twitter
    </button>

    <button (click)="getFeed()" mat-raised-button class="block mt-6">
      get feed
    </button>

    <button (click)="showNotification()">Notification</button>
  </div>
  <!-- <div class="mt-6">
    <base-twitter-card
      *ngFor="let card of twitterCards"
      [data]="card"
      class="mb-4 block"
    ></base-twitter-card>
  </div> -->
</div>
