<div class="card flex flex-col bg-background-light text-white p-4">
  <div>
    <span class="heading">
      Todo's
    </span>
    <b class="font-bold uppercase text-xs text-text-sub">vandaag</b>
  </div>
  <ul class="mt-6">
    <li
      [ngClass]="{ 'opacity-50': item.done }"
      class="flex items-center"
      *ngFor="let item of todoItems; index as index"
    >
      <input
        id="checkbox-{{ index }}"
        type="checkbox"
        class="mr-2"
        [(ngModel)]="item.done"
      />
      <label for="checkbox-{{ index }}">{{ item.text }}</label>
    </li>
    <li>
      <input
        #todoInput
        class="shadow-lg rounded bg-background h-8 mt-2 ml-6 px-4"
        type="text"
        (keyup.enter)="addTodo(todoInput.value); todoInput.value = ''"
      />
    </li>
  </ul>
</div>
